---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  {
    title: "Data Lovers: Studio Ghibli",
    description:
      "Diseño y construcción de interfaz web donde se puede visualizar y manipular data de las animaciones de Studio Ghibli y poder ordenarla u obtener más información según se desee explorar.",
    link: "https://rociolv.github.io/DEV010-data-lovers/",
    github: "https://github.com/RocioLV/DEV010-data-lovers",
    image: "/projects/data-lovers.png",
  },
  {
    title: "Red Social: “re+, por un mundo sostenible”",
    description:
      "Desarrollo de una SPA que permite a cualquier usuario crear una cuenta de acceso, loguearse con ella, crear, editar, borrar y “likear” posts.",
    link: "",
    github: "https://github.com/RocioLV/DEV010-social-network",
    image: "/projects/re-mobile.png",
  },
  {
    title: "Text analyzer",
    description:
      "Analizador de texto web para calcular y mostrar métricas de un texto enviado por el usuario, como el recuento de palabras, caracteres, caracteres sin espacio, recuento y suma de números y promedio longitud.",
    link: "https://rociolv.github.io/Text-analyzer/",
    github: "https://github.com/RocioLV/Text-analyzer",
    image: "/projects/text-analyzer-web.png",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center">
            <img src={image} alt={title} class="w-full h-auto rounded-xl" />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
